@-webkit-keyframes logo {
  from {
    border-radius: 15%;
    border: 1px solid #bbb;
  }
  to {
    border-radius: 35%;
    border: 1px solid #ddd;
  }
}

@keyframes logo {
  from {
    border-radius: 15%;
    border: 1px solid #bbb;
  }
  to {
    border-radius: 35%;
    border: 1px solid #ddd;
  }
}

@-webkit-keyframes logo-hover {
  from {
    border-radius: 35%;
    border: 1px solid #ddd;
  }
  to {
    border-radius: 15%;
    border: 1px solid #bbb;
  }
}

@keyframes logo-hover {
  from {
    border-radius: 35%;
    border: 1px solid #ddd;
  }
  to {
    border-radius: 15%;
    border: 1px solid #bbb;
  }
}

@-webkit-keyframes button {
  from {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes button {
  from {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes button-hover {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes button-hover {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 12px;
  max-width: 640px;
  min-height: 100vh;
  font-family: Inter;
  color: #3a3a3a;
}

header {
  border-bottom: 1px solid #3a3a3a;
  text-align: center;
  width: 100%;
}

header img {
  width: 64px;
  -webkit-animation: logo .5s ease;
          animation: logo .5s ease;
  border-radius: 35%;
  border: 1px solid #ddd;
}

header img:hover {
  -webkit-animation: logo-hover .5s ease;
          animation: logo-hover .5s ease;
  border-radius: 15%;
  border: 1px solid #bbb;
}

header h1 {
  margin: 4px;
  font-size: 28px;
}

section {
  padding: 6px;
  text-align: center;
}

section#header {
  border-bottom: 1px solid #3a3a3a;
  width: 80%;
}

section#header h2 {
  margin: 0px;
}

section#knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section#knowledge a {
  display: block;
  padding: 4px 16px 4px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  width: 128px;
  text-align: center;
  -webkit-animation: button .1s ease;
          animation: button .1s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-radius: 4px;
  text-decoration: none;
}

section#knowledge a:hover {
  -webkit-animation: button-hover .1s ease;
          animation: button-hover .1s ease;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

section#knowledge a img {
  width: 48px;
}

section#knowledge a h4 {
  margin: 0px;
  color: #3a3a3a;
}

section#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section#projects a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 4px 16px 4px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  width: 256px;
  text-align: center;
  -webkit-animation: button .1s ease;
          animation: button .1s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-radius: 4px;
  text-decoration: none;
}

section#projects a:hover {
  -webkit-animation: button-hover .1s ease;
          animation: button-hover .1s ease;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

section#projects a img {
  width: 64px;
}

section#projects a h4 {
  margin: 0px;
  color: #3a3a3a;
}

section#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section#contact a {
  color: #3a3a3a;
  text-decoration: none;
  padding: 8px 32px 8px 32px;
  margin: 4px;
  border: 1px solid #ccc;
  text-align: center;
  -webkit-animation: button .1s ease;
          animation: button .1s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-radius: 4px;
  text-decoration: none;
}

section#contact a:hover {
  -webkit-animation: button-hover .1s ease;
          animation: button-hover .1s ease;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
/*# sourceMappingURL=style.css.map */
