@-webkit-keyframes projectHover {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
  }
}

@keyframes projectHover {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
  }
}

@-webkit-keyframes projectNoHover {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes projectNoHover {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

body {
  margin: 0px;
  background-color: #1F4E79;
  border-top: 8px solid #2E75B6;
  font-family: Inter, Roboto, Helvetica, Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#whitespace {
  width: 100%;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
}

#grayspace {
  width: 100%;
  background-color: #E8E8E8;
  margin: 0px 0px 0px 0px;
}

#footerspace {
  width: 100%;
  background-color: #2E75B6;
  margin: 0px 0px 0px 0px;
}

#mobile {
  display: none;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  margin: 16px;
}

h2 {
  display: inline-block;
  font-weight: 900;
  border-bottom: 3px solid black;
  margin: 16px 0px 12px 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 4px auto 4px auto;
}

header a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

header a#link {
  margin: 0px 2px 0px 2px;
  padding: 12px 28px 12px 28px;
  width: 80px;
  border-radius: 4px;
  text-align: center;
}

header a#link:nth-child(2) {
  margin-left: auto;
}

header a#link:hover {
  font-weight: 800;
  background: #fafafa;
}

section {
  max-width: 1280px;
  margin: 4px auto 4px auto;
}

section#projects {
  max-width: 1360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 12px;
}

a#projectbox {
  -webkit-animation: projectNoHover;
          animation: projectNoHover;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
  text-decoration: none;
  border-radius: 8px;
  background-color: #F7F7F7;
  margin: 6px;
  width: 260px;
}

a#projectbox div#projects_image {
  border-radius: 8px 8px 0px 0px;
  width: 260px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a#projectbox h3 {
  margin: 24px 18px 0px 18px;
  font-weight: 900;
}

a#projectbox p {
  margin: 2px 18px 0px 18px;
}

a#projectbox:hover {
  -webkit-animation: projectHover;
          animation: projectHover;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
}

a#button {
  background-color: #5B9BD5;
  padding: 8px 24px 8px 24px;
  border-radius: 6px;
  font-weight: 800;
  color: #ffffff;
  margin: 4px auto 4px auto;
}

footer {
  max-width: 1280px;
  padding: 8px;
}

footer ul {
  list-style: square;
  color: #fff;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 650px) {
  #nomobile {
    display: none;
  }
  h1, h2 {
    margin-left: auto;
    margin-right: auto;
  }
  header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header a:nth-child(1) {
    width: 100%;
    text-align: center;
  }
  header a {
    margin: 0;
  }
  header a img {
    margin: 0px;
  }
  header a:nth-child(1) {
    margin-top: 8px;
  }
}

/* other */
@media (max-width: 1320px) {
  header a img {
    margin-left: 28px;
  }
  h1, h2, h3, p.abouttext {
    margin-left: 28px;
  }
}

/* i */
.i-list {
  margin: 8px 12px 10px 12px;
}

#i, i-html, i-css, i-scss, i-js, i-py, i-gdscript, i-cpp {
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 5px 3px 5px;
  font-size: 80%;
  color: #fff;
}

i-html {
  background-color: #C67733;
  color: #fff;
  font-size: 80%;
}

i-css {
  background-color: #519ABA;
  color: #fff;
  font-size: 80%;
}

i-scss {
  background-color: #D94A74;
  color: #fff;
  font-size: 80%;
}

i-js {
  background-color: #CBCB3B;
  color: #000;
  font-size: 80%;
}

i-py {
  background-color: #3C78A8;
  color: #000;
  font-size: 80%;
}

i-gdscript {
  background-color: #478CBF;
  color: #000;
  font-size: 80%;
}

i-cpp {
  background-color: #519ABA;
  color: #000;
  font-size: 80%;
}

/* Made by Thundiverter */
#madebythundiverter {
  width: 100%;
  margin-top: 32px;
  padding: 12px 0px 12px 0px;
  background-color: #1F4E79;
  color: #fff;
  font-size: 90%;
  text-align: center;
}

#madebythundiverter a {
  color: #fff;
  text-decoration: none;
}

#madebythundiverter a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */