/* Animations */
/* For project boxes */
@keyframes projectHover { from {transform: translateY(0px); box-shadow: none} to { transform: translateY(-1px); box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .075);} }
@keyframes projectNoHover { from {transform: translateY(-1px); box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .1)} to { transform: translateY(0px); box-shadow: none; } }

/* The font of the website */
html { font-family: Inter, Roboto, Helvetica, Arial; }

body {
    margin: 0px;
    border-top: 8px solid #2E75B6;
    display: flex; flex-direction: column; flex-wrap: wrap;
    background-color: #1F4E79;
}

/* Backgrounds of sections */
#whitespace { width: 100vw; background-color: #ffffff; }
#grayspace { width: 100vw; background-color: #E8E8E8; }
#footerspace { width: 100vw; background-color: #2E75B6; }

/* Text */
h1 { margin: 16px; font-size: 32px; font-weight: 900; }
h2 { display: inline-block; margin: 0px; font-weight: 900; border-bottom: 3px solid #000000; }

/* Header */
header#nomobile {
    max-width: 1280px; margin: 12px auto 4px auto;
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: flex-start; align-items: center;
    a {
        padding: 12px 24px 12px 24px;
        color: #000; text-decoration: none;
        border-radius: 4px;
        
        /* Logo and text */
        img { width: 48px; user-select: none; }
        h1 { font-weight: 900; margin: 0px; }
        &:nth-child(2) { padding-left: 0px; }
        
        /* Buttons */
        &:nth-child(3) { margin-left: auto; width: 96px; text-align: center;}
        &:nth-child(4) { margin-left: 8px; width: 96px; text-align: center;}
        &#link {
            &:hover { font-weight: 800; background: darken(#ffffff, 2%); }
            &:active { font-weight: 800; background: darken(#ffffff, 6%); }
            text-decoration: none;
        }
    }
}

/* Section */
section {
    max-width: 1280px; margin: 8px auto 8px auto;
    padding: 8px 12px 8px 12px;

    /* List of projects */
    &#projectsList {
        max-width: 1360px;
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: center; align-items: stretch;
    }
}
/* Projectbox */
#projectBox {
    /* Animation */
    animation: projectNoHover;
    animation-duration: .1s; animation-iteration-count: 1;
    transform: translateY(0px);
    box-shadow: none;

    width: 260px; border-radius: 8px; background-color: #f7f7f7;

    display: flex; justify-content: stretch; align-items: stretch;
    color: #000000; text-decoration: none;
    a { color: #000000; text-decoration: none; }
    margin: 6px;

    &:hover {
        animation: projectHover;
        animation-duration: .1s; animation-iteration-count: 1;
        transform: translateY(-1px);
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .075);
    }

    div#projectBoxImage {
        border-radius: 8px 8px 0px 0px; width: 260px; height: 120px;
        background-position: center; background-repeat: no-repeat;
        background-size: cover;
    }

    h3 { margin: 24px 18px 0px 18px; font-weight: 900; }
    p { margin: 2px 18px 0px 18px; }
}

/* Indicators */
/* i */
#i-list { margin: 8px 12px 10px 12px; }
#i {
    display: inline-block; border-radius: 3px;
    margin: 3px; padding: 3px 5px 3px 5px;
    font-size: 80%; color: #fff;
}

i-html { background-color: #C67733; color: #fff; font-size: 80%; @extend #i } ;
i-css { background-color: #519ABA; color: #fff; font-size: 80%; @extend #i } ;
i-scss { background-color: #D94A74; color: #fff; font-size: 80%; @extend #i } ;
i-js { background-color: #CBCB3B; color: #000; font-size: 80%; @extend #i } ;
i-vue { background-color: #41B883; color: #fff; font-size: 80%; @extend #i } ;
i-py { background-color: #3C78A8; color: rgbfff(163, 155, 155); font-size: 80%; @extend #i } ;
i-gdscript { background-color: #478CBF; color: #fff; font-size: 80%; @extend #i } ;
i-cpp { background-color: #519ABA; color: #fff; font-size: 80%; @extend #i } ;

i-md { background-color: #757474; color: #fff; font-size: 80%; @extend #i } ;
i-art { background-color: #3F3F74; color: #fff; font-size: 80%; @extend #i } ;

/* Footer */
footer {
    max-width: 1280px;
    margin: 8px auto 8px auto;
    ul { list-style: square; color: #fff; li a { color: #fff; text-decoration: none; line-height: 1.5;
        &:hover { text-decoration: underline; }
    } }
    p { color: #ffffff88; font-size: 80%;
        a { color: inherit; text-decoration: none;
            &:hover { text-decoration: underline; }
        }
    }
}

p.abouttext { margin: 0px; margin-right: 24px; }

/* MOBILE */
#mobileonly { display: none };

@media (max-width: 650px) {
    #mobileonly { display: block; }
    #nomobile { display: none; }
    header#nomobile { display: none; }
    h1, h2 {
        margin-left: auto; margin-right: auto;
    }
    header#mobileonly {
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: center; align-items: center;
        flex: 1 1 auto;
        margin: 8px;
        a {
            padding: 12px 24px 12px 24px;
            color: #000; text-decoration: none;
            border-radius: 4px;
            text-align: center;
            &#link {
                &:hover { font-weight: 800; background: darken(#ffffff, 2%); }
                &:active { font-weight: 800; background: darken(#ffffff, 6%); }
            }
        }
    }
}

/* other */
@media (max-width: 1320px) {
    header a img {
        margin-left: 28px;
    }
    h1, h2, h3, p.abouttext {
        margin-left: 28px;
    }
    footer ul {
        margin-left: 28px;
    }
}

#madebythundiverter {
    width: 100%;
    padding: 12px 0px 12px 0px;
    background-color: #1F4E79;
    color: #fff; font-size: 90%;
    text-align: center;
    a { color: #fff; text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}