/* Animations */
/* For project boxes */
@-webkit-keyframes projectHover {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
  }
}
@keyframes projectHover {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
  }
}

@-webkit-keyframes projectNoHover {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes projectNoHover {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* The font of the website */
html {
  font-family: Inter, Roboto, Helvetica, Arial;
}

body {
  margin: 0px;
  border-top: 8px solid #2E75B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1F4E79;
}

/* Backgrounds of sections */
#whitespace {
  width: 100vw;
  background-color: #ffffff;
}

#grayspace {
  width: 100vw;
  background-color: #E8E8E8;
}

#footerspace {
  width: 100vw;
  background-color: #2E75B6;
}

/* Text */
h1 {
  margin: 16px;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  display: inline-block;
  margin: 0px;
  font-weight: 900;
  border-bottom: 3px solid #000000;
}

/* Header */
header#nomobile {
  max-width: 1280px;
  margin: 12px auto 4px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#nomobile a {
  padding: 12px 24px 12px 24px;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  /* Logo and text */
  /* Buttons */
}

header#nomobile a img {
  width: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header#nomobile a h1 {
  font-weight: 900;
  margin: 0px;
}

header#nomobile a:nth-child(2) {
  padding-left: 0px;
}

header#nomobile a:nth-child(3) {
  margin-left: auto;
  width: 96px;
  text-align: center;
}

header#nomobile a:nth-child(4) {
  margin-left: 8px;
  width: 96px;
  text-align: center;
}

header#nomobile a#link {
  text-decoration: none;
}

header#nomobile a#link:hover {
  font-weight: 800;
  background: #fafafa;
}

header#nomobile a#link:active {
  font-weight: 800;
  background: #f0f0f0;
}

/* Section */
section {
  max-width: 1280px;
  margin: 8px auto 8px auto;
  padding: 8px 12px 8px 12px;
  /* List of projects */
}

section#projectsList {
  max-width: 1360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* Projectbox */
#projectBox {
  /* Animation */
  -webkit-animation: projectNoHover;
          animation: projectNoHover;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 260px;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #000000;
  text-decoration: none;
  margin: 6px;
}

#projectBox a {
  color: #000000;
  text-decoration: none;
}

#projectBox:hover {
  -webkit-animation: projectHover;
          animation: projectHover;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.075);
}

#projectBox div#projectBoxImage {
  border-radius: 8px 8px 0px 0px;
  width: 260px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#projectBox h3 {
  margin: 24px 18px 0px 18px;
  font-weight: 900;
}

#projectBox p {
  margin: 2px 18px 0px 18px;
}

/* Indicators */
/* i */
#i-list {
  margin: 8px 12px 10px 12px;
}

#i, i-html, i-css, i-scss, i-js, i-vue, i-py, i-gdscript, i-cpp, i-md, i-art {
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 5px 3px 5px;
  font-size: 80%;
  color: #fff;
}

i-html {
  background-color: #C67733;
  color: #fff;
  font-size: 80%;
}

i-css {
  background-color: #519ABA;
  color: #fff;
  font-size: 80%;
}

i-scss {
  background-color: #D94A74;
  color: #fff;
  font-size: 80%;
}

i-js {
  background-color: #CBCB3B;
  color: #000;
  font-size: 80%;
}

i-vue {
  background-color: #41B883;
  color: #fff;
  font-size: 80%;
}

i-py {
  background-color: #3C78A8;
  color: rgbfff(163, 155, 155);
  font-size: 80%;
}

i-gdscript {
  background-color: #478CBF;
  color: #fff;
  font-size: 80%;
}

i-cpp {
  background-color: #519ABA;
  color: #fff;
  font-size: 80%;
}

i-md {
  background-color: #757474;
  color: #fff;
  font-size: 80%;
}

i-art {
  background-color: #3F3F74;
  color: #fff;
  font-size: 80%;
}

/* Footer */
footer {
  max-width: 1280px;
  margin: 8px auto 8px auto;
}

footer ul {
  list-style: square;
  color: #fff;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  color: #ffffff88;
  font-size: 80%;
}

footer p a {
  color: inherit;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

p.abouttext {
  margin: 0px;
  margin-right: 24px;
}

/* MOBILE */
#mobileonly {
  display: none;
}

@media (max-width: 650px) {
  #mobileonly {
    display: block;
  }
  #nomobile {
    display: none;
  }
  header#nomobile {
    display: none;
  }
  h1, h2 {
    margin-left: auto;
    margin-right: auto;
  }
  header#mobileonly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 8px;
  }
  header#mobileonly a {
    padding: 12px 24px 12px 24px;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  header#mobileonly a#link:hover {
    font-weight: 800;
    background: #fafafa;
  }
  header#mobileonly a#link:active {
    font-weight: 800;
    background: #f0f0f0;
  }
}

/* other */
@media (max-width: 1320px) {
  header a img {
    margin-left: 28px;
  }
  h1, h2, h3, p.abouttext {
    margin-left: 28px;
  }
  footer ul {
    margin-left: 28px;
  }
}

#madebythundiverter {
  width: 100%;
  padding: 12px 0px 12px 0px;
  background-color: #1F4E79;
  color: #fff;
  font-size: 90%;
  text-align: center;
}

#madebythundiverter a {
  color: #fff;
  text-decoration: none;
}

#madebythundiverter a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */